<!DOCTYPE html>

<title>Slackbot Videochat</title>
<link href="/main.css<%= '?cache=false' if @devmode %>" rel="stylesheet">

<div class="Root">
  <div class="Primary">
    <div class="Content"></div>
  </div>
  <hr />
  <div class="Secondary">
    <div class="Content"></div>
  </div>
</div>

