<!DOCTYPE html>

<title>Slackbot Videochat</title>
<link href="/main.css<%= '?cache=false' if @devmode %>" rel="stylesheet">
<link rel="icon" type="image/png" href="/favicon.png" />

<div class="Root">
  <div class="Primary">
    <div class="Content">
      <video loop autoplay>
        <source src="https://s3.amazonaws.com/josh.cheek/scratch/slackbot-videochat.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <hr />

  <div class="Secondary">
    <div class="Content">
      <h2>To Integrate:</h2>

      <p>
        <a href="https://yourteam.slack.com/apps/manage/custom-integrations">Configure</a> your Slack team to<br />
        send a <code>POST</code> request<br />
        to <code>https://slackbot-videochat.herokuapp.com/videochats</code><br />
      </p>

      <ul class="Links">
        <li>Get a <a href="/videochats/demo">link</a></li>
        <li>Hosted at <a href="https://slackbot-videochat.herokuapp.com/">url</a></li>
        <li>Source Code is on <a href="https://github.com/JoshCheek/slackbot-videochat">Github</a></li>
      </div>
    </div>
  </div>
</div>

