<!DOCTYPE html>

<title>Slackbot Videochat</title>
<link href="/main.css<%= '?cache=false' if @devmode %>" rel="stylesheet">

<div class="Root">
  <div class="Primary">
    <div class="Content">
      <iframe
         src="https://player.vimeo.com/video/193156327"
         width="640"
         height="400"
         frameborder="0"
         webkitallowfullscreen
         mozallowfullscreen
         allowfullscreen
       ></iframe>
    </div>
  </div>

  <hr />
  <div class="Secondary">
    <div class="Content">
      <p>
        In <a href="https://slack.com/">Slack</a>,
        type <code>/videochat</code>.<br />
        and follow the link!
      </p>

      <ul class="Links">
        <li>Get a <a href="/videochats/demo">link</a></li>
        <li>Hosted at <a href="https://slackbot-videochat.herokuapp.com/">url</a></li>
        <li>Source Code is on <a href="https://github.com/JoshCheek/slackbot-videochat">Github</a></li>
      </div>
    </div>
  </div>
</div>

