<!DOCTYPE html>

<title>Slackbot Videochat</title>
<link href="/main.css<%= '?cache=false' if @devmode %>" rel="stylesheet">

<div class="Conversation">
  <div class="You">
    <div class="Media"></div>
  </div>
  <hr />
  <div class="Me">
    <div class="Media"></div>
  </div>
</div>
